@import "bootstrap";

body {
  background-color: #88EDFF;
  color: #FF4137;
  font-family: 'Cabin', sans-serif;
}

.container {
}

#banner_logo {
  height: 150px;
}

#construction_banner {
  
}

/* index css */

.test{
 // background-color: green;
}

.image-cropper {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 2px black solid;
  margin-top: 5px;
}

.centered{
  position: absolute;
  left: -0%;
  top: -0%;
}

.voting_canvas{
  background-color: white;
  padding: 5px 1px 5px 1px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#voting_buttons{
 // background-color: red;
  padding: 0;
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;

  ul{
    margin: 15px 0 10px 0;
  }

  li{
    background-color: #E0FFFF;
    min-width: 150px;
    min-height: 75px;
    border-radius: 10px;
    padding-top: 10px;
  }

  li:hover{
    background-color: #FF9E99;
    font-size: 30px;
    padding-top: 5px;
  }
  a:hover{
    background-color: #FF9E99;
  //  color: #0066cc;
  }
  a{
    color: black;
  }
}



/* header css */


#header_nav{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  a{
    color: #FF6961;
    font-weight: bold;
  }
  a:hover{
    background-color: #FFC8C8;
  }
}

/* footer css */

footer{
  margin-top: 50px;
}

#footer_nav{
//  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer_fine_print {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #626262;
}

#footer_icon {
  margin-top: 20px;
  margin-bottom: 10px;
//  background-color:red;

  ul{
 //   background-color: blue;

    li{
      padding-left: 10px;
      padding-right: 10px;
   //   background-color: green;
      a{
        padding: 0px;
        color: #FF6961;
        background-color: inherit;
      }
      a:hover{

      }
    }
  }
}