@import "bootstrap";

body {
  padding: 10px;
  background-color: #88EDFF;
  color: #FF4137;
  font-family: 'Cabin', sans-serif;
}

/* index css */

.centered{
  position: absolute;
  left: -0%;
  top: -0%;
}

.voting_canvas{
  background-color: white;
  padding: 10px;
  margin: 0 auto 10px auto;
  min-width: 300px;
  max-width: 350px;
  border-radius: 10px;
  margin-bottom: 10px;

  .image-cropper {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
   // border: 2px black solid;

    img {
      display: block;
      margin: 0 auto;
      max-height: 100%;
      min-height: 320px;
      max-width:100%;
    }
  }
}

#imageSource{
  color: black;
  font-size: 16px;
  text-align: right;
  margin-right: 5px;
  float: right;
}

#voting_container{
  padding: 0;
  color: black;
  font-size: 24px;
  font-weight: bold;

  ul{
    width: 100%;
    margin: 0px 0 10px 0;

    li{
      display: inline-block;
      width: 49%;
      margin-left: 2%;
      min-height: 75px;
      border-radius: 10px;
      padding-top: 10px;
      text-align: center;

      &:first-child {
        margin-left: 0;
      }

      &:hover{
        font-size: 30px;
        padding-top: 5px;
      }
    }

    a{
      color: black;
    }
  }
}

#mehVoteButton{
  background-color: #E0FFFF;
  &:hover{
    background-color: #00BAFF;
  }
  a{
    &:hover{
      background-color: #00BAFF;
    }
  }
}

#cuteVoteButton{
  background-color: #FFC8C8;
  &:hover{
    background-color: #FF817A;
  }
  a{
    &:hover{
      background-color: #FF817A;
    }
  }
}

.table{
  margin-top: 10px;
  table-layout: fixed;
  tbody{
    tr{
      td{
        border: 0;
        text-align: center;
      }
    } 
  }
}

.votingTallies{
}

.votingScoreImages{
    margin-left: 2px;
    height: 30px;
}

/* about privacy agreement contact css */

.staticContainer{
  font-size: 18px;
  padding: 2% 5% 4% 5%;
  text-align: center;
  max-width: 700px;
  min-width: 300px;
 // min-height: 300px;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;

  p{
    padding: 1% 0;
  }
  h1{
    color: #FF4137;
    margin: 0 auto;
    padding: 1%;
  }
}

/* header css */
#banner_logo {
  display: block;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

#header_nav {
  max-width: 370px;
  margin: 15px auto;
  font-size: 20px;

  li {
    width: 33%;
    margin: 0;
    text-align: center;

    a {
      color: #FF6961;
      font-weight: bold;

      &:hover {
        background-color: #FFC8C8;
      }
    }
  }
}

/* footer css */

footer {
  margin-top: 10px;
}



#footer_icon {
  margin-top: 20px;
  margin-bottom: 10px;

  ul{
    text-align: center;
    li{
      display: inline-block;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
      a{
        display: block;
        color: #FF6961;
        background-color: inherit;
      }
    }
  }
}

#footer_nav {
  margin: 20px auto 10px auto;
 ul{
    text-align: center;
    li{
      display: inline-block;
      border-radius: 5px;
      margin-left: 10px;

      &:hover{
          background-color: white;
        }

      &:first-child {
        margin-left: 0;
      }
      a{
        padding: 10px;
        display: block;
        
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

#footer_fine_print {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #626262;
}