@import "bootstrap";

body {
  background-color: #88EDFF;
  color: #FF4137;
  font-family: 'Cabin', sans-serif;
}

.container {
}

#banner_logo {
  height: 150px;
}

#construction_banner {
  
}

#footer_fine_print {
  color: #626262;
}

.footer_icon {
  
}