<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <div id="footer_icon">    
          <ul class="list-unstyled">
            <li><a href="#"><%= image_tag("kutorable/facebook.png", class: "footer_icon")%></a></li>
            <li><a href="#"><%= image_tag("kutorable/twitter.png", class: "footer_icon")%></a></li>
          </ul>
        </div>
      </div>
    </div>
        
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-12">
        <div id="footer_nav">
          <ul class="list-unstyled">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/agreement">Agreement</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <div id="footer_fine_print">
          Using our site means you understand our privacy policy and agree to 
          adhere to our user agreement. &copy; 2014 Adelie Online inc. All rights reserved.
          <br/>
          Kutorable is part of the Panik Media network, an Adelie Online inc. project. 
        </div>
      </div>
    </div>
  </div>
</footer>