<footer>
	
<ul class="nav nav-pills">
  <li><a href="#"><%= image_tag("kutorable/facebook.png", class: "footer_icon")%></a></li>
  <li><a href="#"><%= image_tag("kutorable/facebook.png", class: "footer_icon")%></a></li>
</ul>

<ul class="nav nav-pills">
  <li><a href="#">About</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Privacy</a></li>
  <li><a href="#">User Agreement</a></li>
</ul>

<small id="footer_fine_print">
	Using our site means you understand our privacy policy 
	and agree to adhere to our user agreement. &copy; 2014 Adelie Online inc.
	All rights reserved.
	<br/>
	Kutorable is part of the Panik Media network, an Adelie Online inc. project. 

</small>

</footer>