<%= image_tag("kutorable/kutorable_logo.png", id: "banner_logo") %>

<ul class="nav nav-pills">
  <li><a href="#">Kutest</a></li>
  <li><a href="#">Newest</a></li>
  <li><a href="#">Discover</a></li>
</ul>