<div class = "row">
  <div class = "col-lg-4 col-lg-offset-4">
    <%= image_tag("kutorable/kutorable_logo.png", id: "banner_logo") %>
  </div>
</div>

<div class = "row">
  <div class = "col-lg-4 col-lg-offset-4 text-center" id="header_nav">
    <ul class="nav nav-pills">
      <li><a href="#">Kutest</a></li>
      <li><a href="#">Newest</a></li>
      <li><a href="#">Discover</a></li>
    </ul>
  </div>
</div>