<% provide :title, "About" %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <div class = "staticContainer">
        <h1>About</h1>
        <p>At Kutorable, we are aggregating all the 'kute' and 'adorable' (hence <i>Kutorable</i>, get it?) 
          pet pictures we find from both the internet and pet owners wanting to show off their pets.
          Vote the pictures that you see as "Kute" or "meh", and help us discover the <i>kutest</i>
          pets on the interwebs!</p>
          <p>Do you have a cute pet image that you want us to share? Mail it over to us at kutorable@gmail.com!</p>
      </div>
    </div>
  </div>
</div>