<% provide :title, "User Agreement" %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <div class = "staticContainer">
        <h1>User Agreement</h1>
        <p>We're all about <i>kute</i> animals and such, but we don't appreciate funny business. Here is our user agreement:</p>
          <p>1) Images that you provide us to host on our site is either your own, or you have permission for us to share. We 
              respect the original owners of their photos, and do not wish to post their images against their wishes. <br/>
             2) No questionable material. Please don't submit anything questionable, illegal, and irrelevant to our website. 
                <br/>
             3) You understand that your traffic on kutorable and all Panik Media websites is tracked. We don't track any private info,
             or do we intend to share any of your info to third parties. Check out our <a href="/privacy">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</div>