<% provide :title, "Contact" %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <div class = "staticContainer">
        <h1>Contact</h1>
        <p>Want to share your pet pictures with us? Have a question or concern? Email us at kutorable@gmail.com! Please make sure
            that pictures you send us are of pets/animals only. We love people too, but just not in our pictures.</p>
        <p>If you are the original owner of an image or know the original owner and our sources are not cited correctly, please let us know ASAP
          so we can give credit to the photographers of these awesome pictures.</p>
        <p>Be sure to check out our <a href = "http://www.twitter.com/kutorable" target = "_blank">Twitter</a> 
           and <a href = "https://www.facebook.com/pages/Kutorable/260954180774995?ref_type=bookmark" target="_blank">Facebook</a> pages for more pet pics.</p>
      </div>
    </div>
  </div>
</div>