<!-- develop the voting page here and keep index as landing -->

<% provide :title, "Development" %>

<h1>Kutorable - Landing Page</h1>
<h3>Content here</h3>
<img src="../../assets/animal_pictures/<%= @picture.file_name %>" height="300" />