<% provide :title, "Privacy Policy" %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <div class = "staticContainer">
        <h1>Privacy Policy</h1>
        <p>At Kutorable, our goal is to find all the kute animal pictures out on the internet for your viewing pleasure. 
        	If you leave our site with your heart melted, our goal is accomplished. That being said, we still need to
        	go over our privacy policy.</p>
          <p>1) To our knowledge, all images on our site are either public domain, user submitted, or free to use. If you are 
          	the owner of an image and wish for us to remove it from our site (but why would you want to do that??), email us
          	at kutorable@gmail.com and we will address it promptly. <br/>
          	2) We monitor traffic. Just a heads up, we do monitor your traffic ONLY within OUR site and websites in the Panik 
          	Media network. We have no intentions of providing this information with a third party.
          	</p>
      </div>
    </div>
  </div>
</div>