var readyFunction = function(){
  $(".reloadOnClick").click(function(){
    $.ajax({
      url: '/vote/reload',
      type: "GET",
      async: false,
      complete: function (response) {
        var picture = JSON.parse(response.responseText);

        if picture {
          $("#animal_picture")[0].src = "../../assets/animal_pictures/" + picture.file_name
          $("#mehVoteButton a")[0].href = $("#mehVoteButton a")[0].href.replace(/apid=([0-9]*)/, "apid=" + picture.id)
          $("#cuteVoteButton a")[0].href = $("#cuteVoteButton a")[0].href.replace(/apid=([0-9]*)/, "apid=" + picture.id)
        }

        var vt_ag = picture.voting_aggregate;
        var cute_votes = vt_ag ? picture.voting_aggregate.cute_votes : "0";
        var ugly_votes = vt_ag ? picture.voting_aggregate.ugly_votes : "0";

        $("#cute_votes").text(cute_votes);
        $("#ugly_votes").text(ugly_votes);

        var source_text = picture.source ? "Source: <a href='" + picture.source_url + "' target='_blank'>" + picture.source + "</a>" : "Source: MIA";
        $("#imageSource").html(source_text);
      }
    });
  });

  $("#mailing_list").click(function() {
    var email = $("#email_field").val();
    $.ajax({
      url: '/signup',
      type: 'POST',
      async: true,
      data: {email: email},
      complete: function (response) {
        $(".mailing-list").hide();
        $(".sucess-signup").show();
      }
    });
  });
};

$(document).ready(readyFunction);
$(document).on('page:load', readyFunction);
